table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    text-align: left;
  }
  th, td {
    border: 1px solid #000000;
    padding: 9px;
  }
  tr:nth-child(1) {
    background-color: #FFFF00;
  }
